.container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: aqua;
  padding: 10px 0;
  text-align: center;

  .close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
